@import "elements.less";

@font-face {
    font-family: 'SansitaOneRegular';
    src: url('../fonts/sansitaone.eot');
    src: url('../fonts/sansitaone.eot') format('embedded-opentype'),
         url('../fonts/sansitaone.woff') format('woff'),
         url('../fonts/sansitaone.ttf') format('truetype'),
         url('../fonts/sansitaone.svg#SansitaOneRegular') format('svg');
}

html, body {
	height: 100%;
}

body {
	background: url('../images/noise.png') repeat;
	padding-top: 50px;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6	{
	font-family: 'SansitaOneRegular', 'Helvetica', 'Arial', sans-serif;
}

/*
	Navigation
*/

#list-name	{
	background: #eeeeee;
	margin-top: 0;
	margin-bottom: 0;
	overflow-wrap: break-word;
	padding-top: 30px;
	padding-bottom: 70px;
	text-align: center;
	// text-shadow: 2px 2px 5px #999;	
    width: 100%;       
}

#top-nav	{
	overflow: hidden;
	.rounded(0);
}

.navbar-inverse .navbar-brand	{
	color: #40B2FD;
	font-family: 'SansitaOneRegular', 'Helvetica', 'Arial', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

/* 
	Task list
*/
#task-area	{
	background-color: #343434;
	font-size: 150%;
	.box-shadow(0 10px 40px #555);
	.margin(top, -40px);
	.paddings(20px);
	.rounded(4px);
	h3 {
		color: #fff;
		font-weight: lighter;
		.inline-block;
		.margin(right, 20px);
	}
	a {
		font-size: 16px;
	}
}

#task-list	{
	.margin(bottom, 0);
	.task-item	{
		font-weight: bold;
		outline: none;
		.interactive;
		.task-text	{
			overflow-wrap: break-word;
			width: 80%;
			word-wrap: break-word;
			.glyphicon	{
				top: 3px;
			}
		}
		@media (min-width: 1025px)	{
			.task-text	{
				width: 95%;
			}
		}
		&:hover, &:focus	{
			background-color: #f5f5f5;
			button {
				.vis;
			}
		}
		.task-buttons	{
			position: absolute;
			right: 15px;
			top: 10px;
		}
		button {
			.invis;
			.margin(left, 5px);
		}
	}
	.completed-task-item	{
		background: #f5f5f5;
    	color: #999;
		font-weight: bold;
		text-decoration: line-through;
		.task-buttons	{
			top: 11px;
		}
	}
}

/*
	Footer
*/

footer	{
	height: 200px;
}

/*
	Animations
*/

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    left: 0;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    left: -50px;
}


/* 
	Helper classes 
*/

.black	{color: #000;}
.bold 	{font-weight: bold;}
.bump-5		{margin-top: 5px;}
.bump-10	{margin-top: 10px;}
.bump-20	{margin-top: 20px;}
.bump-30	{margin-top: 30px;}
.bump-40	{margin-top: 40px;}
.bump-60	{margin-top: 60px;}
.bump-80	{margin-top: 80px;}
.bump-100	{margin-top: 100px;}
.center	{text-align: center;}
.center-element	{
	.margin(left, auto);
	.margin(right, auto);
}
.interactive	{cursor: pointer;}
.invis	{display: none;}
.inline-block {display: inline-block;}
.fleft	{float: left;}
.fright	{float: right;}
.font-sm	{
	font-size: 12px;
}
.font-md	{
	font-size: 16px;
}
.font-lg	{
	font-size: 18px;
}
.margin (top, @top: 20px)	{
	margin-top: @top;
}
.margin (right, @right: 20px)	{
	margin-right: @right;
}
.margin (bottom, @bottom: 20px)	{
	margin-bottom: @bottom;
}
.margin (left, @left: 20px)	{
	margin-left: @left;
}
.margins (@margin)	{
	margin: @margin;
}
.margins (@topbottom, @rightleft)	{
	margin: @topbottom @rightleft;
}
.margins (@top, @right, @bottom, @left)	{
	margin: @top @right @bottom @left;
}
.max-height 	{
	height: 100%;
}
.no-float	{
	float: none;
}
.no-margin	{
	margin: 0;
}
.no-padding	{
	padding: 0;
}
.padding (top, @top: 20px)	{
	padding-top: @top;
}
.padding (right, @right: 20px)	{
	padding-right: @right;
}
.padding (bottom, @bottom: 20px)	{
	padding-bottom: @bottom;
}
.padding (left, @left: 20px)	{
	padding-left: @left;
}
.paddings (@padding)	{
	padding: @padding;
}
.paddings (@topbottom, @rightleft)	{
	padding: @topbottom @rightleft;
}
.paddings (@top, @right, @bottom, @left)	{
	padding: @top @right @bottom @left;
}
.position-absolute-left(@top: 0, @left: 0)	{
	position: absolute;
	top: @top;
	left: @left;
}
.position-absolute-right(@top: 0, @right: 0)	{
	position: absolute;
	top: @top;
	right: @right;
}
.textshadow(@hor: 1px, @vert: 1px, @blur: 1px, @color: #fff)	{
	text-shadow: @hor @vert @blur @color;
}
.vis 	{display: block;}
.white 	{color: #fff;}
