@font-face {
  font-family: 'SansitaOneRegular';
  src: url('../fonts/sansitaone.eot');
  src: url('../fonts/sansitaone.eot') format('embedded-opentype'), url('../fonts/sansitaone.woff') format('woff'), url('../fonts/sansitaone.ttf') format('truetype'), url('../fonts/sansitaone.svg#SansitaOneRegular') format('svg');
}
html,
body {
  height: 100%;
}
body {
  background: url('../images/noise.png') repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SansitaOneRegular', 'Helvetica', 'Arial', sans-serif;
}
/*
	Navigation
*/
#list-name {
  text-align: center;
  text-shadow: 2px 2px 5px #999;
  overflow-wrap: break-word;
}
#top-nav {
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  color: #40B2FD;
  font-family: 'SansitaOneRegular', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
/* 
	Task list
*/
#task-area {
  background-color: #343434;
  font-size: 150%;
  -webkit-box-shadow: 0 10px 40px #555555;
  -moz-box-shadow: 0 10px 40px #555555;
  box-shadow: 0 10px 40px #555555;
  margin-top: 20px;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#task-area h3 {
  color: #fff;
  font-weight: lighter;
  display: inline-block;
  margin-right: 20px;
}
#task-area a {
  font-size: 16px;
}
#task-list {
  margin-bottom: 0;
}
#task-list .task-item {
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
#task-list .task-item .task-text {
  overflow-wrap: break-word;
  width: 80%;
  word-wrap: break-word;
}
#task-list .task-item .task-text .glyphicon {
  top: 3px;
}
@media (min-width: 1025px) {
  #task-list .task-item .task-text {
    width: 95%;
  }
}
#task-list .task-item:hover,
#task-list .task-item:focus {
  background-color: #f5f5f5;
}
#task-list .task-item:hover button,
#task-list .task-item:focus button {
  display: block;
}
#task-list .task-item .task-buttons {
  position: absolute;
  right: 15px;
  top: 10px;
}
#task-list .task-item button {
  display: none;
  margin-left: 5px;
}
#task-list .completed-task-item {
  background: #f5f5f5;
  color: #999;
  font-weight: bold;
  text-decoration: line-through;
}
#task-list .completed-task-item .task-buttons {
  top: 11px;
}
/*
	Footer
*/
footer {
  height: 200px;
}
/*
	Animations
*/
.animate-enter,
.animate-leave {
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  position: relative;
  display: block;
}
.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  left: 0;
}
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  left: -50px;
}
/* 
	Helper classes 
*/
.black {
  color: #000;
}
.bold {
  font-weight: bold;
}
.bump-5 {
  margin-top: 5px;
}
.bump-10 {
  margin-top: 10px;
}
.bump-20 {
  margin-top: 20px;
}
.bump-30 {
  margin-top: 30px;
}
.bump-40 {
  margin-top: 40px;
}
.bump-60 {
  margin-top: 60px;
}
.bump-80 {
  margin-top: 80px;
}
.bump-100 {
  margin-top: 100px;
}
.center {
  text-align: center;
}
.center-element {
  margin-left: auto;
  margin-right: auto;
}
.interactive {
  cursor: pointer;
}
.invis {
  display: none;
}
.inline-block {
  display: inline-block;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 16px;
}
.font-lg {
  font-size: 18px;
}
.max-height {
  height: 100%;
}
.no-float {
  float: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.vis {
  display: block;
}
.white {
  color: #fff;
}
