<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <title>todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src="js/app.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="TaskCtrl">

    <nav id="top-nav" class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">todo</a>
      </div>
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <div id="task-area">
          <div>   
            <input type="text" class="form-control input-lg" ng-model="todo" ng-keydown="addTask($event)" placeholder="enter a task" autofocus>
            
            <h3>incomplete tasks</h3>
            <ul id="task-list" class="list-group">
              <li class="list-group-item task-item" ng-animate="'animate'" ng-repeat="task in tasks | filter:searchText track by task.id ">
                <div class="task-text">
                  {{task.task}}
                </div>
                <div class="task-buttons">
                  <button type="button" class="btn btn-sm btn-success pull-right" ng-mouseup="completeTask($index)"><span class="glyphicon glyphicon-ok"></span></button>
                  <button type="button" class="btn btn-sm btn-danger pull-right" ng-mouseup="removeTask($index)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </li>
            </ul>

            <h3>completed tasks</h3><a ng-show="completedTasks.length > 0" ng-click="clearCompletedTasks($event)" href="#">clear</a>
            <ul id="task-list" class="list-group">
              <li class="list-group-item task-item completed-task-item" ng-animate="'animate'" ng-repeat="completedTask in completedTasks | filter:searchText track by completedTask.id">
                <div class="task-text">
                  {{completedTask.task}} 
                </div>
                <div class="task-buttons">
                  <span class="glyphicon glyphicon-ok-sign pull-right"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/controllers/taskctrl.js"></script>
  </body>
</html>