<!DOCTYPE html>
<html id="ng-app" ng-app="todoApp" ng-controller="TaskCtrl">
  <head>
    <link rel="shortcut icon" href="../images/favicon.png">
    <title ng-bind="'listify.io - ' + list">listify.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/style.css" rel="stylesheet" media="screen">    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>  
    <script src="../js/app/app.js"></script>
  </head>
  <body>
    <!-- scope: LoginCtrl -->
    <div ng-controller="LoginCtrl">
      <div class="alert alert-danger no-margin" ng-cloak ng-show="showAlert">
        Please refresh the page to re-establish authentication with the server. You will not be able to edit or create lists while unauthorized.
      </div>
    </div>
    <!-- end scope: LoginCtrl -->
    <!-- scope: TaskCtrl -->
    <div>
      <nav id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- scope: NavCtrl -->
        <div class="navbar-header" ng-controller="NavCtrl">
          <a href="/" class="navbar-brand">listify.io</a>
          <button type="button" class="navbar-toggle" ng-click="toggleNav()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>      
        </div>
        <!-- end scope: NavCtrl -->
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse" ng-animate="'animate'">
          <!-- scope: ListCtrl -->
          <div class="navbar-form navbar-left" ng-controller="ListCtrl">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="newListName" placeholder="new list">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="createNewList()"><span class="glyphicon glyphicon-new-window"></span></button>
            </div>
          </div>
          <!-- end scope: ListCtrl -->
          <div class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchText" placeholder="filter">
            </div>
          </div>
        </div>
      </nav>
      <h1 id="list-name" ng-bind="list">list</h1>
      <div class="container no-padding">        
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-sm-offset-2 no-padding"> 
          <div id="task-area">
   
              <input type="text" class="form-control input-lg" ng-model="todo" ng-keydown="addTask($event)" placeholder="enter an item" autofocus>
              
              <div ng-show="tasks.length > 0" ng-cloak><h3>to do</h3></div>
              <ul id="task-list" class="list-group" ui-sortable ng-model="tasks" ng-cloak>
                <li class="list-group-item task-item" ng-animate="'animate'" ng-repeat="task in tasks | filter:{task:searchText} track by task.id" tabindex="{{$index}}">
                  <div class="task-text" ng-bind="task.task"></div>
                  <div class="task-buttons">
                    <button type="button" class="btn btn-sm btn-success pull-right" ng-mouseup="completeTask($index)"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-sm btn-danger pull-right" ng-mouseup="removeTask($index)"><span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                </li>
              </ul>

              <div ng-show="completedTasks.length > 0" ng-cloak><h3>completed</h3><a ng-click="clearCompletedTasks($event)" href="#">clear</a></div>
              <ul id="task-list" class="list-group" ng-cloak>
                <li class="list-group-item task-item completed-task-item" ng-animate="'animate'" ng-repeat="completedTask in completedTasks | filter:searchText track by completedTask.id" tabindex="{{tasks.length + $index}}">
                  <div class="task-text">
                    <span class="glyphicon glyphicon-ok-sign"></span> <span ng-bind="completedTask.task"></span>
                  </div>
                  <div class="task-buttons">
                    <button type="button" class="btn btn-sm btn-primary pull-right" ng-mouseup="undoComplete($index)"><span class="glyphicon glyphicon-repeat"></span></button>
                    <button type="button" class="btn btn-sm btn-danger pull-right" ng-mouseup="removeCompletedTask($index)"><span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                </li>
              </ul>

          </div>
        </div>
      </div>
    </div>
    <!-- end scope: TaskCtrl -->
    
    <footer></footer>

    
    <!-- services -->
    <script src="../js/services/authservice.js"></script>
    <!-- controllers -->
    <script src="../js/controllers/loginctrl.js"></script>
    <script src="../js/controllers/taskctrl.js"></script>
    <script src="../js/controllers/navctrl.js"></script>
    <script src="../js/controllers/listctrl.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44901640-1', 'listify.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>